.sgmp_slogan {
  text-align: center;
  margin-bottom: 2vw;
  margin-top: 2vw;
}

.sgmp_img_slogan_conteiner {
  background-color: #dddddd; 
  width: 100vw;
  margin-bottom: 0.6vw;
}

.sgmp_img_slogan {
  width: 70px;
  height: 100px;
  text-align: center;
  align-content: center;
  border: #454545 4px solid;
  border-radius: 6px;
  margin-top: -1vw;
  margin-bottom: 0.5vw;
  background-color: #666666;
  box-shadow: 2px 2px 1px #000000;
}

.sgmp_text_slogan {
  display: inline-block;
  font-size: 54px;
  font-family: "Ubuntu-Light";
  color: #454545;
  
  transition-property: all;
  transition-duration: 600ms;
  transition-delay: 10ms;
  transition-timing-function: ease-in-out;
  
  border-radius: 6px;
  padding: 0.4vw 0.6vw;
}